{
  "presets": ["es2015", "stage-2", "vue-app"],
  "plugins": [
    ["transform-es2015-for-of", {
      "loose": true
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
