image: node:lts-alpine

stages:
  - test
  - dependencies
  - build
  - publish

code quality:
  stage: test
  script:
    - npm ci
    - npm run lint

test & coverage:
  stage: test
  script:
    - npm it
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  artifacts:
    paths:
      - coverage/

npm outdated:
  stage: dependencies
  script:
    - npm outdated
  allow_failure: true

security scan:
  stage: dependencies
  script:
    # upgrade the NPM version to the latest
    # to be sure the `npm audit` supports the
    # --production flag
    - npm i -g npm
    - npm audit --production
  allow_failure: true

rollup build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist
    expire_in: 4 weeks

coverage report:
  stage: publish
  dependencies:
    - test & coverage
  script:
    - mv coverage/lcov-report/ public/
  artifacts:
    paths:
      - public
    expire_in: 3 months
  only:
    - master
  environment:
    name: coverage report
    url: https://formschema.gitlab.io/native

package:
  stage: publish
  only:
    - tags
  script:
    - npm pack
  artifacts:
    paths:
      - ./*.tgz

publish on npm:
  stage: publish
  only:
    - tags
    - triggers
  script:
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
    - npm publish
  environment:
    name: npm
    url: https://www.npmjs.com/package/@formschema/native
